{% extends "base.html" %}
{% block title %}Lista mascotas {% endblock %}
{% block head %}
{{super()}}

{% endblock %}
{% block body %}



<div class="contenedor__animal">
    
    <div  class="caja__trasera_mascotas"> 
        <h2 id="titu"> Citas de {{session['usuario']}}</h2>  

        <div>
            <table>
                <tr>
 
                    <th scope="col"> MASCOTA </th>
                    <th scope="col"> ACCION </th>
                    <th scope="col"> FECHA</th>
                </tr>
                {% for id,diccionario in dicc_citas.items() %} 
                    {% if session['usuario'] == diccionario['usuario']  %}
                 <tr>
              
                  <th>{{diccionario['mascota']}} </th>
              
                  <th>{{diccionario['atencion']}}</th>
                  <th> {{diccionario['fecha']}} </th>

    
                  
              
                </tr>
                {% endif %}  
              
                {% endfor %}
              </table>
           
        </div>

       




    </div>
</div>


        
{% endblock %}

{% block footer %}

{% endblock %}