{% extends "base.html" %}
{% block title %}Lista mascotas {% endblock %}
{% block head %}
{{super()}}

{% endblock %}
{% block body %}



<div class="contenedor__animal">
    
    <div  class="caja__trasera_mascotas"> 
        <h2 id="titu"> Mascotas de {{session['usuario']}}</h2>
        


        <div id="lista">
            <ul id="lista"> 
                
                {% for usuario,diccionario in dicc_animales.items() %}
                    {% if diccionario['usuario'] == session['usuario'] %}
                        <li style="list-style-type: circle;">
                            <h1 id="puntos"> {{diccionario['nombre_mascota']}}</h1>
                        </li>
                    {% endif %}
                {% endfor %}
            
            </ul>
        </div>
    </div>
</div>


        
{% endblock %}

{% block footer %}

{% endblock %}